body {
  background: #090909;
  color: #f3f3f3;
}

.countdown {
  margin-top: 300px;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 50px;
  font-family: 'Waiting for the Sunrise', cursive;
}