body {
  background: url(../../img/notebook.png);
  color: #1f2b9f;
}

.countdown {
  position: absolute;
  bottom: 0;
  right: 200px;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 50px;
  font-family: 'Waiting for the Sunrise', cursive;
}